In [6]:
from opendatasets.utils.kaggle_api import download_kaggle_dataset
import json
import pandas as pd

In [3]:
with open("kaggle.json", "w") as f:
    json.dump({"username":"williankleindegois","key":"e6cef4ef3b8ba422231cf3460b7a22d1"}, f)

In [4]:
download_kaggle_dataset("https://www.kaggle.com/ealaxi/banksim1?select=bs140513_032310.csv", data_dir='./tmp', force=True)

Downloading banksim1.zip to ./tmp\banksim1

100%|██████████| 13.1M/13.1M [00:00<00:00, 18.7MB/s]

In [38]:
df = pd.read_csv("./tmp/banksim1/bs140513_032310.csv", header=0, quotechar="'")

In [47]:
import numpy as np
from datetime import date

In [39]:
df["age"].unique()

array(['4', '2', '3', '5', '1', '6', 'U', '0'], dtype=object)

In [40]:
df["gender"].unique()

array(['M', 'F', 'E', 'U'], dtype=object)

In [48]:
df["age"].mask(df["age"] == 'U', 0, inplace=True)
df["age"] = df["age"].astype('int')

df["gender"].where((df["gender"] == "M") | (df["gender"] == "F"), None, inplace=True)

df["amount"].mask(df["amount"] == 0, None, inplace=True)

df["ano"] = 2021
df["mes"] = 0  
df["mes"] = np.where((df["step"] >= 0) & (df["step"] <= 30), 1, df["mes"])
df["mes"] = np.where((df["step"] >= 31) & (df["step"] <= 60), 2, df["mes"])
df["mes"] = np.where((df["step"] >= 61) & (df["step"] <= 90), 3, df["mes"])
df["mes"] = np.where((df["step"] >= 91) & (df["step"] <= 120), 4, df["mes"])
df["mes"] = np.where((df["step"] >= 121) & (df["step"] <= 150), 5, df["mes"])
df["mes"] = np.where((df["step"] >= 151) & (df["step"] <= 180), 6, df["mes"]) 
df["data"] = 1

df["data_aux"] = None
df["data_aux"] = np.where((df["mes"] == 1), date(2021,1,1), df["data_aux"])
df["data_aux"] = np.where((df["mes"] == 2), date(2021,2,1), df["data_aux"])
df["data_aux"] = np.where((df["mes"] == 3), date(2021,3,11), df["data_aux"])
df["data_aux"] = np.where((df["mes"] == 4), date(2021,4,1), df["data_aux"])
df["data_aux"] = np.where((df["mes"] == 5), date(2021,5,1), df["data_aux"])
df["data_aux"] = np.where((df["mes"] == 6), date(2021,6,1), df["data_aux"])

In [42]:
df["age"].unique()

array([4, 2, 3, 5, 1, 6, 0])

In [43]:
df["gender"].unique()

array(['M', 'F', None], dtype=object)

In [50]:
df.groupby(["data_aux", "merchant"], as_index=False).agg(tpv=('amount','sum'), qtd_transacoes=('merchant','count'))

       data_aux     merchant        tpv  qtd_transacoes
0    2021-01-01  M1053599405   54769.05             514
1    2021-01-01   M117188757      87.51               1
2    2021-01-01  M1198415165   31994.09             345
3    2021-01-01  M1294758098   11569.53              38
4    2021-01-01  M1313686961    2029.43              42
..          ...          ...        ...             ...
292  2021-06-01    M85975013  223333.21            5990
293  2021-06-01   M923029380    5557.67              28
294  2021-06-01   M933210764     421.77               7
295  2021-06-01    M97925176    6971.06             113
296  2021-06-01   M980657600   71166.51             239

[297 rows x 4 columns]

In [51]:
df.groupby(["data_aux", "customer"], as_index=False).agg(tpv=('amount','sum'), qtd_transacoes=('customer','count'))

         data_aux     customer      tpv  qtd_transacoes
0      2021-01-01  C1000148617   143.87               1
1      2021-01-01   C100045114   239.93               7
2      2021-01-01  C1000699316   985.60              31
3      2021-01-01  C1001065306    37.10               1
4      2021-01-01  C1002658784   269.01               2
...           ...          ...      ...             ...
24171  2021-06-01    C99729647  1490.22              29
24172  2021-06-01   C998690782   763.63              29
24173  2021-06-01   C998987490  1654.51              30
24174  2021-06-01   C999393223  1100.73              27
24175  2021-06-01   C999723254   578.81              27

[24176 rows x 4 columns]

In [52]:
df.groupby(["merchant", "category"], as_index=False).any()[["merchant", "category"]]

       merchant               category
0   M1053599405              es_health
1    M117188757                es_home
2   M1198415165   es_wellnessandbeauty
3   M1294758098             es_leisure
4   M1313686961            es_contents
5   M1352454843       es_hotelservices
6   M1353266412       es_hotelservices
7   M1400236507                es_home
8   M1416436880                es_tech
9    M151143676  es_barsandrestaurants
10  M1535107174   es_wellnessandbeauty
11  M1600850729             es_fashion
12  M1649169323       es_sportsandtoys
13  M1726401631              es_travel
14    M17379832       es_sportsandtoys
15  M1741626453       es_sportsandtoys
16  M1748431652   es_wellnessandbeauty
17  M1788569036       es_sportsandtoys
18  M1823072687      es_transportation
19  M1842530320                es_tech
20  M1872033263                es_home
21  M1873032707       es_hotelservices
22  M1888755466       es_otherservices
23  M1913465890              es_health
24  M1946091778   es_wellnessandbeauty
25  M2011752106       es_hotelservices
26  M2080407379              es_travel
27   M209847108   es_wellnessandbeauty
28  M2122776122                es_home
29   M348875670       es_hotelservices
30   M348934600      es_transportation
31   M349281107             es_fashion
32     M3697346             es_leisure
33    M45060432       es_hotelservices
34   M480139044              es_health
35   M495352832              es_travel
36    M50039827              es_health
37   M547558035             es_fashion
38   M677738360            es_contents
39   M692898500              es_health
40   M732195782              es_travel
41    M78078399   es_wellnessandbeauty
42   M840466850                es_tech
43   M855959430               es_hyper
44   M857378720       es_hotelservices
45    M85975013                es_food
46   M923029380                es_home
47   M933210764       es_sportsandtoys
48    M97925176   es_wellnessandbeauty
49   M980657600       es_sportsandtoys

In [9]:
from sqlalchemy import create_engine

In [10]:
conn = create_engine("mysql://root:mysql_321654@192.168.1.20:3306", echo=False)

In [13]:
df_teste = pd.read_sql_query("select * from sys.sys_config", con=conn)

In [14]:
df_teste

                               variable  value            set_time set_by
0          diagnostics.allow_i_s_tables    OFF 2021-08-05 18:00:24   None
1               diagnostics.include_raw    OFF 2021-08-05 18:00:24   None
2         ps_thread_trx_info.max_length  65535 2021-08-05 18:00:24   None
3  statement_performance_analyzer.limit    100 2021-08-05 18:00:24   None
4   statement_performance_analyzer.view   None 2021-08-05 18:00:24   None
5                statement_truncate_len     64 2021-08-05 18:00:24   None

In [55]:
fact_merchant_kpi = df.groupby(["data_aux", "merchant"], as_index=False).agg(tpv=('amount','sum'), qtd_transacoes=('merchant','count'))
fact_customer_kpi = df.groupby(["data_aux", "customer"], as_index=False).agg(tpv=('amount','sum'), qtd_transacoes=('customer','count'))
dim_merchant_category = df.groupby(["merchant", "category"], as_index=False).any()[["merchant", "category"]]

In [56]:
df.to_sql(con=conn, schema="db", name="transaction", if_exists="replace", index=True, index_label="id")
fact_merchant_kpi.to_sql(con=conn, schema="analytic", name="fact_merchant_kpi", if_exists="replace", index=False)
fact_customer_kpi.to_sql(con=conn, schema="analytic", name="fact_customer_kpi", if_exists="replace", index=False)
dim_merchant_category.to_sql(con=conn, schema="analytic", name="dim_merchant_category", if_exists="replace", index=False)