In [1]:
from sqlalchemy import create_engine
import pandas as pd
import numpy as np
from datetime import date, datetime

In [2]:
archive_csv = pd.read_csv("./tmp/banksim1/bs140513_032310.csv", header=0, quotechar="'")

In [4]:
archive_csv.count()

step           594643
customer       594643
age            594643
gender         594643
zipcodeOri     594643
merchant       594643
zipMerchant    594643
category       594643
amount         594643
fraud          594643
dtype: int64

In [7]:
archive_csv["data_aux"] = None
archive_csv["data_aux"] = np.where((archive_csv["step"] >= 0) & (archive_csv["step"] <= 30), date(2021,1,1), archive_csv["data_aux"])
archive_csv["data_aux"] = np.where((archive_csv["step"] >= 31) & (archive_csv["step"] <= 60), date(2021,2,1), archive_csv["data_aux"])
archive_csv["data_aux"] = np.where((archive_csv["step"] >= 61) & (archive_csv["step"] <= 90), date(2021,3,1), archive_csv["data_aux"])
archive_csv["data_aux"] = np.where((archive_csv["step"] >= 91) & (archive_csv["step"] <= 120), date(2021,4,1), archive_csv["data_aux"])
archive_csv["data_aux"] = np.where((archive_csv["step"] >= 121) & (archive_csv["step"] <= 150), date(2021,5,1), archive_csv["data_aux"])
archive_csv["data_aux"] = np.where((archive_csv["step"] >= 151) & (archive_csv["step"] <= 180), date(2021,6,1), archive_csv["data_aux"])

In [9]:
_fact_merchant_kpi = archive_csv.groupby(["data_aux", "merchant"], as_index=False).agg(tpv=('amount','sum'), qtd_transacoes=('merchant','count'))

In [10]:
_fact_merchant_kpi

       data_aux     merchant        tpv  qtd_transacoes
0    2021-01-01  M1053599405   54769.05             514
1    2021-01-01   M117188757      87.51               1
2    2021-01-01  M1198415165   31994.09             345
3    2021-01-01  M1294758098   11569.53              38
4    2021-01-01  M1313686961    2029.43              42
..          ...          ...        ...             ...
292  2021-06-01    M85975013  223333.21            5990
293  2021-06-01   M923029380    5557.67              28
294  2021-06-01   M933210764     421.77               7
295  2021-06-01    M97925176    6971.06             113
296  2021-06-01   M980657600   71166.51             239

[297 rows x 4 columns]

In [163]:
archive_csv["gender"].where((archive_csv["gender"] == "M") | (archive_csv["gender"] == "M"), 'T', inplace=True)

In [44]:
archive_csv["mes"] = 0
archive_csv["mes"] = np.where((archive_csv["step"] >= 0) & (archive_csv["step"] <= 30), 1, archive_csv["mes"])
archive_csv["mes"] = np.where((archive_csv["step"] >= 31) & (archive_csv["step"] <= 60), 2, archive_csv["mes"])
archive_csv["mes"] = np.where((archive_csv["step"] >= 61) & (archive_csv["step"] <= 90), 3, archive_csv["mes"])
archive_csv["mes"] = np.where((archive_csv["step"] >= 91) & (archive_csv["step"] <= 120), 4, archive_csv["mes"])
archive_csv["mes"] = np.where((archive_csv["step"] >= 121) & (archive_csv["step"] <= 150), 5, archive_csv["mes"])
archive_csv["mes"] = np.where((archive_csv["step"] >= 151) & (archive_csv["step"] <= 180), 6, archive_csv["mes"])

In [65]:
fact_merchant_kpi = archive_csv.groupby(by=["mes", "merchant"], as_index=False).agg(tpv=('amount','sum'), qtd_transacoes=('merchant','count'))

In [69]:
fact_merchant_kpi

     mes     merchant        tpv  qtd_transacoes
0      1  M1053599405   54769.05             514
1      1   M117188757      87.51               1
2      1  M1198415165   31994.09             345
3      1  M1294758098   11569.53              38
4      1  M1313686961    2029.43              42
..   ...          ...        ...             ...
292    6    M85975013  223333.21            5990
293    6   M923029380    5557.67              28
294    6   M933210764     421.77               7
295    6    M97925176    6971.06             113
296    6   M980657600   71166.51             239

[297 rows x 4 columns]

In [86]:
dim_merchant_category = archive_csv.groupby(["merchant", "category"], as_index=False).any()[["merchant", "category"]]
dim_merchant_category.rename(columns={'merchant':'id_merchant'}, inplace=True)

In [87]:
dim_merchant_category

    id_merchant               category
0   M1053599405              es_health
1    M117188757                es_home
2   M1198415165   es_wellnessandbeauty
3   M1294758098             es_leisure
4   M1313686961            es_contents
5   M1352454843       es_hotelservices
6   M1353266412       es_hotelservices
7   M1400236507                es_home
8   M1416436880                es_tech
9    M151143676  es_barsandrestaurants
10  M1535107174   es_wellnessandbeauty
11  M1600850729             es_fashion
12  M1649169323       es_sportsandtoys
13  M1726401631              es_travel
14    M17379832       es_sportsandtoys
15  M1741626453       es_sportsandtoys
16  M1748431652   es_wellnessandbeauty
17  M1788569036       es_sportsandtoys
18  M1823072687      es_transportation
19  M1842530320                es_tech
20  M1872033263                es_home
21  M1873032707       es_hotelservices
22  M1888755466       es_otherservices
23  M1913465890              es_health
24  M1946091778   es_wellnessandbeauty
25  M2011752106       es_hotelservices
26  M2080407379              es_travel
27   M209847108   es_wellnessandbeauty
28  M2122776122                es_home
29   M348875670       es_hotelservices
30   M348934600      es_transportation
31   M349281107             es_fashion
32     M3697346             es_leisure
33    M45060432       es_hotelservices
34   M480139044              es_health
35   M495352832              es_travel
36    M50039827              es_health
37   M547558035             es_fashion
38   M677738360            es_contents
39   M692898500              es_health
40   M732195782              es_travel
41    M78078399   es_wellnessandbeauty
42   M840466850                es_tech
43   M855959430               es_hyper
44   M857378720       es_hotelservices
45    M85975013                es_food
46   M923029380                es_home
47   M933210764       es_sportsandtoys
48    M97925176   es_wellnessandbeauty
49   M980657600       es_sportsandtoys

In [100]:
import numpy as np

In [147]:
archive_csv[(archive_csv["customer"]=="C1918953803") & (archive_csv["step"]==15) & (archive_csv["age"] == '2')]

,step,customer,age,gender,zipcodeOri,merchant,zipMerchant,category,amount,fraud
40502,15,C1918953803,2,F,28007,M348934600,28007,es_transportation,NaN,0

In [146]:
archive_csv["amount"].mask(archive_csv["amount"] == 0, None, inplace=True)

In [142]:
archive_csv["amount"].replace(0, None, inplace=True)

In [113]:
archive_csv

,step,customer,age,gender,zipcodeOri,merchant,zipMerchant,category,amount,fraud
0,0,C1093826151,4,M,28007,M348934600,28007,es_transportation,4.55,0
1,0,C352968107,2,M,28007,M348934600,28007,es_transportation,39.68,0
2,0,C2054744914,4,F,28007,M1823072687,28007,es_transportation,26.89,0
3,0,C1760612790,3,M,28007,M348934600,28007,es_transportation,17.25,0
4,0,C757503768,5,M,28007,M348934600,28007,es_transportation,35.72,0
...,...,...,...,...,...,...,...,...,...,...
594638,179,C1753498738,3,F,28007,M1823072687,28007,es_transportation,20.53,0
594639,179,C650108285,4,F,28007,M1823072687,28007,es_transportation,50.73,0
594640,179,C123623130,2,F,28007,M349281107,28007,es_fashion,22.44,0
594641,179,C1499363341,5,M,28007,M1823072687,28007,es_transportation,14.46,0
594642,179,C616528518,4,F,28007,M1823072687,28007,es_transportation,26.93,0

In [85]:
archive_csv["age"].replace('U', None, inplace=True)

In [88]:
archive_csv.age = archive_csv["age"].astype('int')

In [14]:
archive_csv["amount"].mean()

37.89013530807561

In [95]:
archive_csv["data2"] = '2021-'+archive_csv["mes"]+'-01'

UFuncTypeError: ufunc 'add' did not contain a loop with signature matching types (dtype('<U5'), dtype('int64')) -> None

In [4]:
teste = {"archive_csv": archive_csv}

In [6]:
teste["archive_csv"]

,step,customer,age,gender,zipcodeOri,merchant,zipMerchant,category,amount,fraud
0,0,C1093826151,4,M,28007,M348934600,28007,es_transportation,4.55,0
1,0,C352968107,2,M,28007,M348934600,28007,es_transportation,39.68,0
2,0,C2054744914,4,F,28007,M1823072687,28007,es_transportation,26.89,0
3,0,C1760612790,3,M,28007,M348934600,28007,es_transportation,17.25,0
4,0,C757503768,5,M,28007,M348934600,28007,es_transportation,35.72,0
...,...,...,...,...,...,...,...,...,...,...
594638,179,C1753498738,3,F,28007,M1823072687,28007,es_transportation,20.53,0
594639,179,C650108285,4,F,28007,M1823072687,28007,es_transportation,50.73,0
594640,179,C123623130,2,F,28007,M349281107,28007,es_fashion,22.44,0
594641,179,C1499363341,5,M,28007,M1823072687,28007,es_transportation,14.46,0
594642,179,C616528518,4,F,28007,M1823072687,28007,es_transportation,26.93,0

In [5]:
data = date(2021,1,1)
data

datetime.date(2021, 1, 1)