> # <b> Download do CSV </b>

In [18]:
from opendatasets.utils.kaggle_api import download_kaggle_dataset
import json
import pandas as pd

In [19]:
with open("kaggle.json", "w") as f:
    json.dump({"username":"williankleindegois","key":"e6cef4ef3b8ba422231cf3460b7a22d1"}, f)

In [20]:
download_kaggle_dataset("https://www.kaggle.com/ealaxi/banksim1?select=bs140513_032310.csv", data_dir='./tmp', force=True)

Downloading banksim1.zip to ./tmp\banksim1

100%|██████████| 13.1M/13.1M [00:01<00:00, 12.2MB/s]

> # <b> Leitura do CSV </b>

In [21]:
df = pd.read_csv("./tmp/banksim1/bs140513_032310.csv", header=0, quotechar="'")

In [22]:
import numpy as np
from datetime import date

> # <b> Transformação dos dados </b>

In [23]:
df["age"].unique()

array(['4', '2', '3', '5', '1', '6', 'U', '0'], dtype=object)

In [24]:
df["gender"].unique()

array(['M', 'F', 'E', 'U'], dtype=object)

In [25]:
df["age"].mask(df["age"] == 'U', 0, inplace=True)
df["age"] = df["age"].astype('int')

df["gender"].where((df["gender"] == "M") | (df["gender"] == "F"), None, inplace=True)

df["amount"].mask(df["amount"] == 0, None, inplace=True)

df["ano"] = 2021
df["mes"] = 0  
df["mes"] = np.where((df["step"] >= 0) & (df["step"] <= 30), 1, df["mes"])
df["mes"] = np.where((df["step"] >= 31) & (df["step"] <= 60), 2, df["mes"])
df["mes"] = np.where((df["step"] >= 61) & (df["step"] <= 90), 3, df["mes"])
df["mes"] = np.where((df["step"] >= 91) & (df["step"] <= 120), 4, df["mes"])
df["mes"] = np.where((df["step"] >= 121) & (df["step"] <= 150), 5, df["mes"])
df["mes"] = np.where((df["step"] >= 151) & (df["step"] <= 180), 6, df["mes"]) 
df["data"] = 1

df["data_aux"] = None
df["data_aux"] = np.where((df["mes"] == 1), date(2021,1,1), df["data_aux"])
df["data_aux"] = np.where((df["mes"] == 2), date(2021,2,1), df["data_aux"])
df["data_aux"] = np.where((df["mes"] == 3), date(2021,3,11), df["data_aux"])
df["data_aux"] = np.where((df["mes"] == 4), date(2021,4,1), df["data_aux"])
df["data_aux"] = np.where((df["mes"] == 5), date(2021,5,1), df["data_aux"])
df["data_aux"] = np.where((df["mes"] == 6), date(2021,6,1), df["data_aux"])

In [26]:
df["age"].unique()

array([4, 2, 3, 5, 1, 6, 0])

In [27]:
df["gender"].unique()

array(['M', 'F', None], dtype=object)

> # <b> Criação dos dataframe para tabelas de fato e dimenção </b>

In [28]:
fact_merchant_kpi = df.groupby(["data_aux", "merchant"], as_index=False).agg(tpv=('amount','sum'), qtd_transacoes=('merchant','count'))
fact_merchant_kpi

       data_aux     merchant        tpv  qtd_transacoes
0    2021-01-01  M1053599405   54769.05             514
1    2021-01-01   M117188757      87.51               1
2    2021-01-01  M1198415165   31994.09             345
3    2021-01-01  M1294758098   11569.53              38
4    2021-01-01  M1313686961    2029.43              42
..          ...          ...        ...             ...
292  2021-06-01    M85975013  223333.21            5990
293  2021-06-01   M923029380    5557.67              28
294  2021-06-01   M933210764     421.77               7
295  2021-06-01    M97925176    6971.06             113
296  2021-06-01   M980657600   71166.51             239

[297 rows x 4 columns]

In [29]:
fact_customer_kpi = df.groupby(["data_aux", "customer"], as_index=False).agg(tpv=('amount','sum'), qtd_transacoes=('customer','count'))
fact_customer_kpi

         data_aux     customer      tpv  qtd_transacoes
0      2021-01-01  C1000148617   143.87               1
1      2021-01-01   C100045114   239.93               7
2      2021-01-01  C1000699316   985.60              31
3      2021-01-01  C1001065306    37.10               1
4      2021-01-01  C1002658784   269.01               2
...           ...          ...      ...             ...
24171  2021-06-01    C99729647  1490.22              29
24172  2021-06-01   C998690782   763.63              29
24173  2021-06-01   C998987490  1654.51              30
24174  2021-06-01   C999393223  1100.73              27
24175  2021-06-01   C999723254   578.81              27

[24176 rows x 4 columns]

In [30]:
dim_merchant_category = df.groupby(["merchant", "category"], as_index=False).any()[["merchant", "category"]]

> # <b> Criando conexão com MySQL </b>

In [31]:
from sqlalchemy import create_engine

In [32]:
conn = create_engine("mysql://root:mysql_321654@192.168.1.20:3306", echo=False)

In [33]:
df_teste = pd.read_sql_query("select * from sys.sys_config", con=conn)

In [34]:
df_teste

                               variable  value            set_time set_by
0          diagnostics.allow_i_s_tables    OFF 2021-08-05 18:00:24   None
1               diagnostics.include_raw    OFF 2021-08-05 18:00:24   None
2         ps_thread_trx_info.max_length  65535 2021-08-05 18:00:24   None
3  statement_performance_analyzer.limit    100 2021-08-05 18:00:24   None
4   statement_performance_analyzer.view   None 2021-08-05 18:00:24   None
5                statement_truncate_len     64 2021-08-05 18:00:24   None

> # <b> Gravação dos dados no MySQL </b>

In [35]:
df.to_sql(con=conn, schema="db", name="transactions", if_exists="replace", index=True, index_label="id")
fact_merchant_kpi.to_sql(con=conn, schema="analytic", name="fact_merchant_kpi", if_exists="replace", index=False)
fact_customer_kpi.to_sql(con=conn, schema="analytic", name="fact_customer_kpi", if_exists="replace", index=False)
dim_merchant_category.to_sql(con=conn, schema="analytic", name="dim_merchant_category", if_exists="replace", index=False)